{{- $desc := default .Site.Params.description .Description -}} {{- $title :=
printf "%s - benthic.io" .Title -}}
<meta name="description" content="{{ $desc }}" />
<meta property="og:site_name" content="benthic.io" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $desc }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ .Site.Params.x_handle }}" />
